footer.container
  .rights
    span Powered by 
    a(href="http://hexo.io", target="_blank") Hexo
    span , Theme 
    a(href="https://zaowan.xyz", target="_blank") zaowan
    span .

  //- .fuli
  //-   script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7920726685064722", crossorigin="anonymous")
  //-   ins.adsbygoogle(style="display:block", data-ad-format="autorelaxed", data-ad-client="ca-pub-7920726685064722", data-ad-slot="3432517930")
  //-   script
  //-     | (adsbygoogle = window.adsbygoogle || []).push({});

//- script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7920726685064722", crossorigin="anonymous")