.post
  padding 0

  .title
    font-size 2rem
  
  .content
    margin 1rem 0
    padding 1rem 1*gutter-size
    border-top 1px solid #eee
    color #222222
    p
      color #222222
  
  .tags
    margin-top 1rem
  

.slide-hide
  height 0
  transition all 1s ease-in-out

.article
  background-color color-article-background
  padding 0 0 1.2 * gutter-size
  position relative
  margin-bottom gutter-size * 2
  margin-right auto
  
  &.mag-item
    display flex
    flex-direction row
    justify-content flex-start
    flex-wrap wrap
    gap 20px
    background transparent

    .mag-icon{
      width 64px
      height 64px
      border-radius 50%
      overflow hidden
      background #fff
      position relative
      border 5px solid #ffffff

      img{
        width 100%
        position absolute
        border-radius 50%
        top -50%
        transform translateY(50%)
      }
    }

    .mag-content
      display flex
      flex-direction column
      gap 0px
      justify-content space-around

      .mag-date
        color #666
        span.day
          color red
  

  .home & {
    transition all .6s ease
    margin-bottom 30px
    padding 8px
    width calc((100% - 30px) / 2)
    box-sizing border-box
    
    @media (max-width: 767.9px) {
      line-height 2rem
      width calc((100% - 10px) / 1)
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      width calc((100% - 10px) / 2)
    }
    
    &:hover {
      background #feffef
      box-shadow 0px 10px 20px rgba(0, 0, 0, 0.07)
    }
  }

  &.special {
    background #fff9e8
    box-shadow 0px 1px 3px #f6e8b7
  }

  img {
    max-width 100%
    display block
  }

  s, strike, del {
    color color-grey
  }

  u {
    text-decoration none
    position relative

    &:after {
      position absolute
      content ' '
      bottom 0
      left 0
      width 100%
      height 1px
      background-color color-link
    }
  }

  strong {
    font-weight bold
  }

  em, cite {
    font-style italic
  }

  .checkbox-wrap {
    background-size 80%
    background-position center
    background-color #fff
    width 1rem
    height 1rem
    display inline-block
    padding 1px
    margin-right .3rem
    vertical-align text-top
    border-radius 3px
    border 1px color-tag solid

    &.checked {
      background-image url('/images/check.svg')
      background-repeat no-repeat
    }

    input {
      display none
    }
  }

  .check-content.checked {
    text-decoration line-through
    color color-grey
  }

  #more {
    display none
  }

  dt {
    font-weight bold
  }

  ul {
    list-style disc
  }

  ol {
    list-style decimal
  }

  li {
    line-height 2rem
    margin-bottom gutter-size
    margin-left gutter-size
    padding-left .2rem
    color color-link

    @media mq-mobile {
      font-size gutter-size
    }

    .li-inner {
      color color-text

      .home & {
        color color-grey
      }

      p {
        margin 0
      }
    }
  }


.title
  font-size title-size
  font-weight bold
  margin-bottom gutter-size
  line-height line-height
  padding 1*gutter-size

  .home &
    display block
    font-size font-size
    background transparent
    padding 0
    margin-bottom 0px
    
  .post &
    @media mq-mobile
      line-height 2.8rem
      font-size 1.6rem

  &:after
    display none

.content
  p
    line-height 1.4rem
    margin 0rem 0
    font-size 1rem
    color #999
    @media mq-mobile
      font-size gutter-size



  h1, h2, h3, h4, h5, h6
    font-weight bold
    line-height line-height-title
    margin line-height-title 0

  h1
    font-size 22px

  h2
    font-size 20px

  h3
    font-size 18px

  h4
    font-size 16px

  h5
    font-size 14px

  a
    color color-link
    &:before
      content '['
      margin 0 2px
      color color-grey

    &:after
      content ']'
      margin 0 2px
      color color-grey

    &.headerlink, &.fancybox
      &:after, &:before
        display none


.nav
  margin-bottom gutter-size * 4

  li
    position relative
    color color-grey
    margin-bottom gutter-size
    line-height 1.8rem

    a
      color color-link
      &:before
        content '['
        margin 0 2px
        color color-grey

      &:after
        content ']'
        margin 0 2px
        color color-grey

    &:before
      content ' '
      display inline-block
      vertical-align middle
      left -gutter-size
      background-color color-link
      width 4px
      height 4px
      border-radius 2px
      margin-right gutter-size


.excerpt
  color color-text
  margin gutter-size 0

.price
  color color-text
  margin gutter-size 0
  position absolute
  top 0
  right 1rem
  font-size 1.2rem
  font-weight bold
  color #f85d03
  transition all .6s ease

  &:before{
    content "￥"
    font-size 0.6rem
    font-weight normal
    color #999
  }
  &.USD:before{
    content "$"
    font-size 0.6rem
    font-weight normal
    color #999
  }

  &.EURO:before{
    content "€"
    font-size 0.6rem
    font-weight normal
    color #999
  }

  @media mq-mobile {
    position initial
    padding 0 1.2 * gutter-size
  }

.article-header
  padding 0 1.2 * gutter-size
  .desc
    color #666

.article-footer
  margin-top 1rem
  display flex
  justify-content space-between
  padding 0 1.2 * gutter-size
  @media mq-mobile {
    justify-content flex-start
    flex-direction column
  }

.desc
  .post &
    margin-top 1rem
    padding 0 1*gutter-size

.registration
  .post &
    padding 5px 1*gutter-size
    background #eee

.date
  color color-grey
  margin-bottom gutter-size

  .home &
    margin-bottom 0

.excerpt-link
  font-size 1rem

.tags
  .home &
    margin-bottom 0
  .post &
    padding 0 1*gutter-size

.tag-link
  background-color color-tag
  color #fff
  line-height 22px
  padding 0 .6rem
  display inline-block
  border-radius 12px
  margin-right .5rem
  font-size 12px

  &:last-child
    margin-right 0

  &:hover
    color #fff

  &:before
    content '#'
    color #fff1d9
    margin-right .2rem
